.myContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1%;
}
.leftSideBar{
    padding: auto;
    margin: auto;
    height: 100vh;
    border-right: 1px #337ab7 solid;
    }
.search{ position: fixed;
    bottom: 0;
    margin-bottom: 5%;
    width: 75%;
    input{
    width: 80%;
    margin: 10px;}
}
ul{
    li{
        margin: 8px;
        width: 50%;
    }
}
.message{
    overflow: auto;
    height: 75vh;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}