<div class="bg-primary" align="center">
 Username: {{userData.name}}
</div>
<div class=" myContainer">
  <div class="leftSideBar">
    <div class="searchChannel">
    <app-search-channel></app-search-channel>
  </div>
  <div class="myChannel">
    <app-mychannel></app-mychannel>
  </div></div>
  <div class="messageArea">
    Messages:
    <div class="message">
    <ul class="list-group">
      <li *ngFor='let msg of message'  class="alert alert-warning" style='overflow: hidden;' [ngStyle] = '{"float": msg.from == userData.email ? "right": "left"}'>{{msg.body}}
        <br/> from:{{msg.from}}</li>
    </ul>
  </div>
    <div  class="search">
    <input type='text' [(ngModel)]=msg>
    <button (click)="sendMsg()" class="btn-success">Send</button>
  </div>
</div>
</div>
<div class="bg-primary" id="footer" align="center">
    &copy; 2018 My Chat App. All Rights Reserved.
  </div>