#addChannely {
    border: none;
    color: #AB9BA9;
    font-size: 14px;
    margin-left: 5vh;
}

#addChannely:hover {
    font-size: 15px;
    color: #ffffff;
}

.mychannel {
    text-align: center;
}

ul {
    margin-top: 2vh;
    li {
        overflow: hidden;
        font-size: 14px;
    }
    li:hover {
        color: #ffffff;
        font-size: 15px;
        overflow: hidden;
    }
}

#channelHeading {
    margin-left: 3vh;
    color: #ffffff;
}